<h3 class="panel-header">{{header}}</h3>

<div class="list-group">
{% for game in game_list %}
	<a class="list_group_list" href="#">
		{{ game }}:
	{% if game.status == "A" %}
		{% if game.next_to_move == user %} your turn {% else %}Waiting for opponent move {% endif %}
	{% elif game.status == "D" %}
		Draw
	{% elif game.status == "F" and user == game.first_player %}
		Won!
	{% elif game.status == "S" and user == game.second_player %}
		you Won!
	{% else %}
		you Lost!
	{% endif %}
	<span class="badge">{{ game.move_set.count }}</span></a>
	<span class="list-roup-list">No game available </span>
{% endfor %}
</div>